$theme-colors: (
  'primary': #560027,
  'secondary': #BC477B,
  'tertiary': #FDF4F5,
  'error': #FDF4F5,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #f5f5f5,
  'dark': #001738,
  'link': #880E4F
);

$primary: #560027;
$secondary: #BC477B;
$light: #f5f5f5;
$dark: #001738;
$link: #880E4F;

$link-color: black;
$link-decoration: none;

$body-bg: #fdf4f5;

$navbar-dark-color: white;
$navbar-padding-y: 0px;

$accordion-bg: white;

$list-group-active-border-color: rgb(0 0 0 / 26%);
$list-group-active-bg: rgb(225, 225, 225);
$list-group-active-color: black;

$form-select-indicator-color: rgb(225, 225, 225);

$btn-border-radius: 2rem;
$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;


/* inria-serif-700 - latin */
@font-face {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inria-serif-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inria-serif-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inria-serif-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inria-serif-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inria-serif-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inria-serif-v14-latin-700.svg#InriaSerif') format('svg'); /* Legacy iOS */
  font-display: swap;
}


/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v27-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-v27-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v27-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v27-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v27-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v27-latin-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* noto-sans-600 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-sans-v27-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v27-latin-600.svg#NotoSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v27-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v27-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v27-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
  font-display: swap;
}

$font-family-base: 'Noto Sans', Helvetica, Arial, sans-serif;


@import 'bootstrap/scss/bootstrap';


.mode-nav .nav-link {
  color: rgba(0,0,0,.9);
  letter-spacing: .1rem;
  font-variant-caps: all-small-caps;
  font-size: 1.25rem;
  font-weight: 600;
}

.mode-nav .nav-link.active {
  border-bottom: solid 2px var(--bs-secondary);
  background-color: rgba(0,0,0,.05);
  color: black;
}

.mode-nav .nav-link:hover {
  border-bottom: solid 2px var(--bs-primary);;
  background-color: rgba(0,0,0,.1);
}


@include media-breakpoint-up(lg) {
  #__nuxt>.welcome {
    background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80');
  }

  .welcome .mode-nav .nav-link.active {
    border-bottom: solid 2px var(--bs-secondary);
    background-color: rgba(0,0,0,.2);
    color: white;
}

  .welcome .mode-nav .nav-link {
    color: white;
    text-shadow: 1px 1px 1px black;
  }

  .welcome .mode-nav .nav-link:hover {
    border-bottom: solid 2px;
    background-color: rgba(0,0,0,.5);
}

.welcome .contrast-gradient {
  position: absolute;
  left: 0;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
  height: 8rem;
  width: 100%;
  z-index: 0;
}

.welcome .mode-nav .nav-item {
  z-index: 1;
}

}